<div class="login_container">
    <h1 class="interface_text">Welcome to UCommunicate!</h1>
    <form action="/register" method="POST">
        {{{error_register}}}
        <p class="interface_text">Name</p>
        {{{error_name}}}
        <input type="text" id="username" name="username">
        <p class="interface_text">Email</p>
        {{{error_email}}}
        <input type="text" id="email" name="email">
        <p class="interface_text">Password</p>
        {{{error_password}}}
        <input type="password" id="password" name="password">
        <br> <br>
        <input class="homepage_button" type="submit" value="Register">
    </form>
    <br><br>
    <p class="interface_text">Already have an account? <a href="/login">Login!</a></p>
</div>