<!--This file contains the base structure about how we want to render our chatroom-->
<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    {{{ body }}}
    {{!-- <script src="../../util/main.js"></script>  --}}
</body>
</html>
